@charset "UTF-8";
/*
  em HTML é id em CSS # ( só pode um elemento por documento HTML)
  em HTML é class em CSS é. ( pode vários elementos, e tbm pode com id)
*/

body{
    background-color: rgb(192, 241, 225);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(16, 92, 16);
}
h1#principal{
    text-align: center;
    background-color: greenyellow;
    color: rgb(26, 61, 12);
}
h2{
    color:rgb(41, 167, 41)
}
.basico{
    color:rgb(41, 167, 41)
    }
.intermediario{
    color:rgb(231, 201, 10)
}
.avancado{
    color:rgb(228, 27, 13)

}
.destaque{
    background-color: rgba(216, 216, 88, 0.668);
}
